.htaccess
.idea
app/cache
app/config/parameters.yml
app/logs
app/phpunit.xml
app/bootstrap.php.cache
app/vouchers
components
vendor
web/bootstrap
web/bundles
web/content
web/css
web/js
composer.lock
composer.phar
bin/
/Project.sublime-project
/Project.sublime-workspace
/web/libraries
node_modules
*.DS_Store